# Config metadata.
config/data/*
!config/data/readme.md

# Output data.
output/data/*
output/graphs/*
output/screenshots/*
!output/data/readme.md
!output/graphs/readme.md
!output/screenshots/readme.md

